<div class="monitor-container">
  <h2>Live Transaction Feed</h2>
  <div class="transaction-list">
    <div *ngFor="let item of transactions" class="transaction-item" [ngClass]="getRiskClass(item.risk_analysis.decision)">
      <div class="timestamp">{{ item.transaction.timestamp | date:'mediumTime' }}</div>
      <div class="user">{{ item.transaction.user_id }}</div>
      <div class="amount">{{ item.transaction.amount | currency:'USD' }}</div>
      <div class="location">{{ item.transaction.location.city }}, {{ item.transaction.location.country }}</div>
      <div class="device">{{ item.transaction.device_type }}</div>
      <div class="decision">{{ item.risk_analysis.decision }}</div>
    </div>
  </div>
</div>
